h2 {
  font-size: 1.5em;
  padding-bottom: 1em;
}

i {
    margin: 0 0.5em;
}
content {
    max-width: 1000px;
}

img {
  max-width: 100%;
}

/*hero*/
#pagebanner {
  padding: 3em 0 3em 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  max-width: 1100px;

  height: 80vh;
}

.herotext p {
    margin: 1em 0;
}

.herotext {
    width: 100%;
}

#pagehero {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    margin-bottom: 2em;
}

.portrait {
  max-height: 250px;
  max-width: 250px;
  display: block;
  border-radius: 400px;

  float: left;
  
  object-fit: cover;
}

.imgcontainer {
    padding-bottom: 3em;
    max-width: 100%;
}

.imgcol {
    display: flex;
    flex-direction: column;
    width: auto;
    align-items: center;
    justify-content: center;

    margin: 0 100px 0 0;
}

.buttonset {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    margin: 10px;
}

.contactbutton {
    width: 100px;
    border-radius: 25px;

    background-color: white;
    padding: 5px 10px;
    margin: 5px;

    display: flex;
    justify-content: flex-start;
    align-items: center;    

    color: black;
    text-decoration: none;
}

.contactbutton:active, .contactbutton:focus, .contactbutton:hover {
    font-weight: 500;
    text-decoration: none;
}

.sectioncontainer {
    width: auto;
    display: flex;

    flex-direction: column;

    align-items: center;
    justify-content: center;
    padding: 30px 0;
}

.section {
    width: 100%;
    max-width: 800px;
}

title {
    display: None;
}

.featurecolumn {
    width: 100%;
}

.featurecolumn h2 {
    width: 100%;
}

.textcenter {
    text-align: center;
}

/**fish pond**/
canvas {
    position: relative;
    align-items: center;
    justify-content: center;
}

.pond {
    background-color: white;
}

/**footer**/
#footer {
    width: 100%;
    height: auto;
    min-height: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 1em 0;
    margin: 0;
}

/**Mobile adjustments**/

@media screen and (max-width: 900px) {

    .herotext {
        margin-top: 2em;
        width: auto;
        text-align: center;
    }

    .imgcol {
        margin: 0;
    }

    #pagehero {
        flex-direction: column;
    }

    .buttonset {
        flex-direction: row;
    }

    #pagebanner {
        height: auto;
        padding-top: 2em;
    }

    .portrait {
        margin: 2em 0 2em 0;
    }
}
