content {
  max-width: 1000px;
}


h1 {
  font-size: 3em;

}

h2 {
  font-size: 2em;
  font-weight: 500;
  padding-top: .5em;
  padding-bottom: .5em;
}

h3 {
  font-size: 2em;
  font-weight: 500;
}

h4 {
  font-size: 1.5em;
  padding-bottom: 5px;
}

.bold {
  font-weight: 700;
  display: inline;
}

span {
  display: inline;
}

a {
  text-decoration: inherit;
  color: inherit;
}

::selection {
  background: #e5e5e5;
}

::-moz-selection {
  background: #e5e5e5;
}

/*header*/

title {
    display: None;
}

#header {
    width: 100%;
    height: 25vh;

    display: flex;
    flex-direction: column;

    justify-content: center;

    padding-top: 100px;
    padding-bottom: 100px;
}

/*project list*/

.projectlist {
  display: flex;
  flex-direction: column;

  width: 100%;

  align-items: center;
  justify-content: center;

  
}

.project {
  margin-bottom: 100px;

  display: flex;
  flex-direction: column;

  max-width: 100%;

  align-items: flex-start;
  justify-content: flex-start;
}

.projectheader {
  width: 100%;

  border: solid #EEEEEE;
  border-width: 0 0 2px 0;

  margin-bottom: 50px;

  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}

.projectdesc {
  max-width: 100%;

  display: flex;
  justify-content: flex-end;
}


.projecttitle {
  font-size: 2em;
  font-weight: 500;

  padding-right: 20px;


}

/*gallery*/

.gallery {
    display: flex;
    flex-direction: column;
    
    align-items: center;
    justify-content: center;

    width: 100%;
    
}

.row {
  flex-direction: row;
}

.gallery a {
  width: 100%;

  display: inherit;

  align-items: center;
  justify-content: center;
}

.gallery img {
  object-fit: cover;
  padding-bottom: 25px;

  max-width: 100%;
}


