html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, postcenter, 
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html {
  font-size: 17px;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

/* Reset's end */

body {
  font-family: 'Maven Pro', verdana, sans-serif;
}

html {
    scroll-behavior: smooth;  
}

h1 {
  font-size: 3em;
  margin-bottom: 1em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 2em;
}

a {
  text-decoration: underline;
  color: black;
}

.headerlink {
  transition: all 0.3s;
  transition-timing-function: ease-in-out;
}

.headerlink:hover {

  text-shadow:
  0px -1px 3px white,
  0px -2px 1px #ffc2b3,
  0px -4px 1px #ffff80,
  0px -6px 1px #ccffcc,
  0px -8px 1px #ccccff,
  0px -10px 1px #e6ccff;

}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  height: 100%;
}

img {
  max-width: 100%;
}

::selection {
  background: #EEEEEE;
}

::-moz-selection {
  background: #EEEEEE;
}

/*Welcome page*/

#welcomedescription {
    width: 100%;

    text-align: center;

    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grey{
    background-color: #FAFAFA;
}

.welcomecontent {
  padding-top: 2em;
  display: flex;
  justify-content: space-between;
  flex-direction: column-reverse;
  align-items: center;
  
  background-color: white;

  height: 40%;
  width: 800px;
  min-width: 700px;
  padding-left: 10%;
  padding-right: 10%;
}

#longdrip {
  height: 10%;
  min-height: 150px;
  background-color: #EEEEEE;
  width: 50px;

  z-index: 1;
  border-radius: 0 0 45% 45%;

  display: flex;

  flex-direction: column-reverse;
}

#dripscontainer {
  width: 100%;
  
  display: flex;
  justify-content: center;
  align-items: center;

  border: solid #EEEEEE;

  border-width: 2px 0 0 0;

  margin-top: 2em;
  margin-bottom: 20px;
}

#dripsimg {
  position: absolute;

  z-index: -1;

  min-width: 800px;
  object-fit: fill;
}

#welcomeheader {
    height: 100vh;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.portrait {
  height: 350px;
  width: 350px;
  display: block;
  border-radius: 64px;
  margin: 0 1em;
  float: left;
  
  object-fit: cover;
}

/** SCROLL DOWN BUTTON**/

.tear {
  width: 50px;
  height: 50px;
  border-radius: 5% 50% 50% 50%;
  transform: rotate(45deg);
  margin-top: 20px;
  transition: all 0.3s;
  transition-timing-function: ease-in-out;

  background-color: #EEEEEE;

  margin-bottom: 80px;
}

.downarrow {
  border: solid grey;
  border-width: 0 3px 3px 0;
  border-radius: 3px;
  display: inline-block;
  padding: 2px;
  margin: 12px;
  width: 15px;
  height: 15px;
}

.tear:hover {
  transform: translateY(15px) rotate(45deg);
    
  box-shadow: -2px -2px 1px #ffc2b3, -4px -4px 1px #ffc2b3, -6px -6px 1px #ffff80, -8px -8px 1px #ccffcc, -10px -10px 1px #ccccff, -12px -12px 1px #e6ccff;
}

/**END SCROLL DOWN BUTTON**/

/*top navbar*/
#topnav {
    position: fixed;
    top: -18px;
    left: 0px;
    z-index: 100;
    padding: 0px;
    flex-grow: 1;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 20px;
    background-color: white;
}

#navtitle {
  float: left;
  color: black;

  text-decoration: none;
}

#navlinks a{
	margin-left: 30px;
	text-decoration: none;
	color: grey;
    transition: color 0.2s ease-in-out;


}

#navlinks a:hover {
	color: black;
}

.margin {
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.toplinks {
    display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	
}

/*project pages*/

#projectlist {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 75%;
    max-width: 1000px;
    min-width: 700px;
    padding-top: 65px;
    margin-bottom: 30px;
}

.casestudy {

    border: 2px solid rgb(236, 236, 236);
    min-width: 100px;
    width: 100%;
    height: 500px;
    flex-grow: 1;
    border-radius: 10px;
    overflow: hidden;
    animation: none;
    transition: all 0.3s;
    transition-timing-function: ease-in-out;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: white;
    
    margin-bottom: 50px;
    text-decoration: none;
}

.casetext {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 50px;
    color: var(--darkgrey);
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;

    z-index: 5;
    color: black;
    text-decoration: none;
}

p.cardsubtitle {
    font-size: 14px;
    font-weight: 400;
    color: grey;
    margin: 0px;
    padding-bottom: 10px;
    text-decoration: none;
}

h3.cardtitle {
    font-size: 24px;
    line-height: 30px;

    margin: 0px;

    float: bottom;
    text-decoration: none;
}

.homeimgcontainer {
    width: 100%;
    
    height: 80%;
    min-width: 20px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: #EEEEEE;
}

.static {
    position: absolute;
    height: 100%;
    min-width: 600px;
    background-size: 100% auto;
    z-index: 4;
    
    object-fit: cover;

}

.active {
    position: absolute;
    height: 100%;
    min-width: 600px;
    background-size: 100% auto;
    
    object-fit: cover;
}

.casestudy:hover {
	transform: translateY(-11px);
}

.redgradient:hover {
    box-shadow: 0px 2px 2px #ff8080, 0px 4px 2px #ff9999, 0px 7px 2px #ffb3b3,0px 9px 2px #ffcccc, 0px 11px 2px #ffe6e6;
}

.bluegradient:hover {
  box-shadow: 0px 2px 2px #9999ff, 0px 4px 2px  #b3b3ff, 0px 7px 2px #ccccff,0px 9px 2px #e6e6ff, 0px 11px 2px #e6eeff;
  ;
}

.orangegradient:hover {
    box-shadow: 0px 2px 2px #ff6600, 0px 4px 2px #ff944d, 0px 7px 2px #ffb380,0px 9px 2px #ffd1b3, 0px 11px 2px #fff0e6;
}

.casestudy:hover .static{
	opacity: 0;

}

title {
    display: None;
}

/**FOOTER**/

#footer {
    width: 100%;
    height: 150px;
    margin-top: 100px;
    display: flex;
    background-color: #eee;
    
    flex-direction: column;

    
    justify-content: center;
    align-items: center;
    
    color: #7b7b7b;
}

#footercontainer {
    width: 50%;
    
    display: flex;
    flex-direction: row;

    
    justify-content: center;
    align-items: center;
}

.footerlinks a {
    margin: 15px;
    
    color: #7b7b7b;
    
    text-decoration: underline;
}

.footerlinks a:hover {
    color: black;
}

/**page nav**/

.pagenavbutton {
  margin-bottom: 10px;
}

.pagenavbutton:hover {
  color: black;
  text-decoration: underline;
}