html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, postcenter, 
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}

:root {
  --orange: #fc683b;
}

ul {
    display: block;
    list-style-type: disc;
    padding-inline-start: 40px;
}

/* Reset's end */

body {
  font-family: 'Maven Pro', verdana, sans-serif;
  font-size: 18px;
  transition: all 100ms ease-in-out;

}

canvas {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  background: white;
  display: block;
  width: 100%;
}

.headercontainer {
  position: absolute;
  z-index: 1;
}

p {
  line-height: 1.5em;
}

html {
  scroll-behavior: smooth;  
}

.bold {
  font-weight: 700;
}

h1 {
  font-size: 2.5em;
  font-weight: 500;
  margin-bottom: .5em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 2em;
}

a {
  text-decoration: none;
  color: #8f8fff;
}

a:hover {
  font-weight: 500;
  text-decoration: underline;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img {
  max-width: 100%;
}

::selection {
  background: #e5e5e5;
  text-decoration: inherit;
}

::-moz-selection {
  background: #e5e5e5;
  text-decoration: inherit;

}

/*Welcome page*/

#welcomeheader {
  max-width: 1000px;
  height: 60vh;

  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;

  padding-top: 50px;
  padding-bottom: 50px;
}

#welcomedescription {
  width: 100%;
  border-radius: 25px;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  padding-top: 100px;
  padding-bottom: 100px;

  background-color: rgb(255, 255, 255, 0.75);
}

#welcomedescription p {
  text-align: center;
  font-size: 1em;
}

#welcomedescription p a:hover {
  font-weight: 700;
}

.welcomecontent {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  
  width: 100%;
}

#welcomedescription h1 {

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 0;

}

#welcomedescription h2 {
  text-align: center;
}

.margin {
  padding-left: 30px;
  padding-right: 30px;
}

/*top navbar*/
#topnav {
    padding: 0px;
    max-width: 100%;
  }

.toplinks a.active {
  color: black;
}

#navtitle {
  float: left;

  width: 100%;

  color: inherit;

  text-decoration: none;

	color: black;

  transition: all 0.3s ease-in-out;
  transition-timing-function: ease-in-out;

  padding: 5px 0 5px 0;
  border-radius: 0 0 50px 50px;
}

.brandbutton {
  display: flex;

  max-width: 50px;
}

#navtitle a {
  text-decoration: none;
}

#navlinks a{
  background-color: rgb(255, 255, 255, 0.75);
  border-radius: 25px;

	text-decoration: none;
  color: #6e6e6e;

  width: 75px;

  margin: 0 15px 0 15px;
  
  transition: all 0.1s ease-in-out;
  transition-timing-function: ease-in-out;

  padding: 15px 15px 15px 15px;

  height: auto;

}

#navlinks a:hover {
  font-weight: 500;
  color: black;
}

.navmargin {
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
  max-width: 1100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.toplinks {
  position: relative;
  top: 0px;
  right: 0px;

  display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;

  transition: all 0.3s ease-in-out;
}


.toplinks a.icon {
  display: none;
  transition: none;

  font-size: 1.5em;
}

.scrollbutton {
  padding: 10px 20px;
  margin: 20px;
  background-color: rgb(255, 255, 255, 0.75);
  border-radius: 25px;
  color: black;
}

.scrollbutton:hover {
  text-decoration: none;
}

@media screen and (max-width: 800px) {
  #navlinks a{
    width: 96vw;
    padding: 19px 0;
    margin: 0;
    background-color: rgb(255, 255, 255, 0.95);
  }

  #welcomeheader {
    padding: 0 30px 0 30px;
  }

  .toplinks {
    position: absolute;
    right: 0px;
  }

  .toplinks a {
    display: none;
  }

  .toplinks a.icon {
    float: right;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    font-size: 1.5em;
  }

  .toplinks.responsive {
    display: flex;
    width: auto;
    flex-direction: column;
    align-items: center;

    padding: 50px 0 0 0;
  }

  .toplinks.responsive a {
    display: flex;
    justify-content: center;
  }

  .toplinks.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }

  .brandbutton {
    z-index: 5;
  }
}
/*case studies*/

#casestudylist {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
}

#casestudylist.mini {
  flex-direction: row;
}

.casestudy {
  background-color: rgb(255, 255, 255, 0.75);
  border-radius: 25px;

  max-width: 1400px;
  width: auto;
  height: 70vh;
  flex-grow: 1;
  overflow: hidden;

  padding: 0 50px 0 50px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  
  text-decoration: none;

  animation: none;
  transition: all 0.3s;
  transition-timing-function: ease-in-out;
}

.casestudy.mini {
  flex-direction: column;
  height: 50vh;
  margin-bottom: 100px;
}

.casecontainer {
  width: 100%;
  display: flex;

  justify-content: center;
  align-items: center;

  margin-bottom: 100px;
}

.casemargin {
  max-width: 1400px;
}

.casetext {
  width: 50%;
  height: 60vh;

  padding: 0 30px 0 30px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;

  z-index: 5;
  text-decoration: none;
}

.casetext.mini {
  width: auto;
  text-align: center;
}

.homeimgcontainer.mini {
  max-width: 100%;
}

.cardsubtitle {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: left;

}

.cardsubtitle.mini {
  align-items: center;
}

.cardsubtitle p {
  font-size: 1em;
  font-weight: 400;
  height: auto;
  text-decoration: none;
}

#ctabutton {
  width: 200px;
  padding: 10px 20px;
  margin: 2em 0;
  background-color: black;
  border: 1px solid black;

  border-radius: 25px;
  color: white;
  font-weight: 500;
  text-align: center;

}

#ctabutton:hover {
  background-color: white;
  border: 1px solid black;

  color: black;
  text-decoration: none;

}

h2.cardtitle {
  font-weight: 500;

  text-decoration: none;
}

.homeimgcontainer {
  position: relative;
  width: 50%;
  
  height:60vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

img.static {
    position: absolute;
  max-height: 100%;
  background-size: 100% auto;
  z-index: 4;
  
  object-fit: cover;
}

img.active {
  position: absolute;
  max-height: 100%;
  background-size: 100% auto;
  
  object-fit: cover;
}

/**COLOURS**/

.hbppgradient {
  background-color: #ff7e6d;
  color: white;
}

.srgradient {
  background-color: #232757;
  color: white;
}

.bluetext {
  color: #20245a;
}

.orangegradient {
  background-color: var(--orange);
  color: white;

  border: var(--orange);
}

.orangetext {
  color: var(--orange);
}

.yellowgradient {
  background-color: #ffe880;
}

.casestudy:hover .static{
	opacity: 0;

}

title {
  display: None;
}

@media screen and (max-width: 1000px) {

  #casestudylist {
    flex-direction: column;
  }

  #ctabutton {
    max-width: 575px;
  }

  #casestudylist.mini {
    flex-direction: column;
  }

  .casetext {
    align-items: center;
    justify-content: flex-end;

    padding: 0px;

    text-align: center;
    width: auto;
  }
 
  .casestudy {
    background-color: white;
    flex-direction: column;
    height: 80vh;
    width: auto;

    padding: 0 30px 0 30px;
  }

  .cardsubtitle {
    width: auto;
    align-items: center;

  }

  .casestudy.mini {
    height: 80vh;
  }

  .homeimgcontainer {
    width: 90%;
    margin: 0 50px;
    align-items: flex-start;
  }
}

/**FOOTER**/
#footer {
  width: auto;
  min-height: 100px;
  margin-top: 100px;
  padding: 40px;

  display: flex;

  justify-content: center;
  align-items: center;
  
  color: #6e6e6e;
}

.footermargin {
  max-width: 1100px;
  width: 100%;
  height: 100%;
  margin: 0 30px 0 30px;

  display: flex;
  flex-direction: row;

  justify-content: space-between;
  align-items: center;
}

.footerlogo p{
  text-align: left;
}

.footerlinkscontainer{
  width: auto;
  height: 100%;

  display: flex;

  flex-direction: row;

  justify-content: space-between;
  align-items: flex-end;
  text-align: right;
}

#footer h2 {
  font-size: 1.5em;
  font-weight: 400;
  padding-top: 0;
  padding-bottom: 0;
}

.footerlogo{
  width: auto;
  height: 100%;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

.footerimg {
  height: 2em;
  margin: 0 1em 0 0;
}

.footerlinks {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.footerlinks a {

  padding: 1em;
  color: inherit;
}

.footerlinks a:hover {
  font-weight: 500;
  color: black;
}

@media screen and (max-width: 600px) {
  .footermargin {
    flex-direction: column;
  }

  .footerlogo {
    align-items: center;

    padding: 0 0 30px 0;
  }

  .footerlinkscontainer {
    align-items: center;

    padding: 0 0 30px 0;

  }

  .footerlinks {
    align-items: center;
  }
}


/**page nav**/

.pagenavbutton {
  margin-bottom: 10px;
}

.pagenavbutton:hover {
  color: black;
  text-decoration: underline;
}