h1 {
  font-size: 2em;
  font-weight: 500;
}

h2 {
  font-size: 1em;
  font-weight: 500;
  padding: 2em 0 .5em 0;
}

h3 {
    font-size: 1.5em;
  }

#challenge {
    height: 40vh;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#challenge h2 {
    padding-top: 0;
}

a {
  text-decoration: inherit;
  color: inherit;
}

#description {
margin: -1em 1em 3em 1.5em;
color: #5E5B5B;
}

#navlinks a {
    background-color: rgb(255, 255, 255, 0);
    color: white;
}

/*project pages*/
header {
    width: 100%;
}

.hbppgradient {
    background-color: #c94e3e;
    color: white;
  }
  
  .srgradient  {
    background-color: #232757;
    color: white;
  }

  .brightbluegradient {
    background-color: #006BE6;
    color: black;
  }
  
  .orangegradient  {
    background-color: var(--orange);
    color: white;
  }
  
  .yellowgradient  {
    background-color: #ffe880;
    color: black;
  }

/*header*/
#pagebanner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: auto;
  max-width: 80%;

  height: 80vh;
  
  position: relative;
  
}

#pagehero {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 50%;
    padding: 30px 80px 30px 30px;

    border-radius: 15px;
}

.headertext {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;

    width: 50%;

    color: white;
}

.headertext h2 {
    font-size: 1em;
    color: white;
    padding: 20px 0px;
}

.heroimg {
    max-width: 100%;

    border-radius: 5px;
}

/*Sections*/

.bold {
    font-weight: 700;
    display: inline;
}

span {
    display: inline;
}

.gray {
    background-color: #f5f5f5;
}

.sectioncontainer {
    width: auto;
    display: flex;

    flex-direction: column;

    align-items: center;
    justify-content: center;
    padding: 0 30px 100px 30px;
}

.section {
    width: 100%;
    max-width: 800px;
}

.section h1 {
    padding-top: 100px;

}

.section p, ul {
    max-width: 800px;
}


/*Table of Contents*/

.navsteps {
    padding: 10px;

    width: auto;
    height: auto;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    background-color: white;
    transition: all 100ms ease-in-out;
}

nav.sticky {
    position: sticky;
    top: 0px;
}

.toc {
    padding: 10px;
    margin: 10px 20px;
    transition: all 100ms ease-in-out;
    width: 5em;
    height: 5em;

    border-radius: 150px;
    border: 1px solid black;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.toc:focus, .toc.active, .toc:hover {
    background-color: black;
    color: white;
    font-weight: 500;
}

.sticked {
    color: #6e6e6e;
    border-color: #b1b1b1;
    font-size: 0.9em;

    height: auto;
}

.sticked.active, .sticked:hover {
    color: white;
    background-color: black;
    border-color: black;
    font-weight: 500;
}

/*content*/

.insightcont {
    padding-top: 1em;
}

#summary {
    text-align: center;
}

.imgscreencontainer {
    margin-bottom: 3em;
    margin-top: 2em;
    max-width: 100%;
    border: 2px solid #EEE;
}

.imgcontainer {
    margin-bottom: 3em;
    margin-top: 3em;

    display: flex;

    align-items: center;
    justify-content: center;

    width: 100%;
    max-width: 800px;
}

.prod {
    max-height: 100vh;
    object-fit: cover;
}

title {
    display: None;
}

/**OVERVIEW**/

.introcontainer {
    max-width: 1100px;
    display: flex;

    flex-direction: column;

    align-items: center;
    justify-content: center;
    padding: 30px;
}

.overviewcontainer {
    margin: 50px 0px 50px 0px;
    width: 100%;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    }

.cell {
    width: 25%;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    margin: 20px 30px;
}

.navsteps .icon {
    display: none;
  
    font-size: 1.5em;
    padding: 10px 30px;
}

.navsteps .currseg {
    display: none;

    font-weight: 500;
    padding: 10px 30px;

}

.navsteps .toctitle {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: auto;

    background-color: white;

    border-color: white;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
  

@media screen and (max-width: 1000px) {
    #pagebanner {
        flex-direction: column;
        max-width: 100%;
        padding: 100px 50px;
    }

    .heroimg {
        max-width: auto;
    }

    #pagehero {
        padding: 50px;
        width: auto;
    }

    .headertext {
        width: auto;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}

@media screen and (max-width: 800px){
    #pagebanner {
        padding: 50px 30px;
    }

    .row {
        flex-direction: column;
    }

    .cell {
        width: auto;
        margin-bottom: 1em;
        padding: 10px;
    }
}

@media screen and (max-width: 600px) {
    .toc:focus, .toc.active {
        background-color: #eee;
        color: black;
        font-weight: 500;
    }

    .toctitle {
        border: 1px solid #eee;
        border-width: 0 0 1px 0;
    }

    .toc:hover {
        background-color: #eee;
        color: black;
        font-weight: 500;
    }

    .navsteps {
        padding: 10px 25px;
    }

    .navsteps .toc {
        display: none;
        border-radius: 0;
        margin: 0;
    }
    
    .navsteps .icon {
        float: right;
        display: block;
    }

    .navsteps .currseg {
        width: auto;
        display: block;
        float: left;
    }

    .navsteps.responsive {
        position: sticky;
        
        margin: 1em 0;
        padding: 1em 0;
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: center;

        padding-top: 50px;
    }

    .navsteps.responsive .toc {
        border: none;
        width: 100%;
        padding: 20px 0;
        height: auto;
        display: flex;
        justify-content: center;

        font-size: 1em;
    }

    .navsteps.responsive .toc.icon {
        float: right;
        display: flex;
        position: sticky;
        right: 0;
        top: 0;

        display: flex;
        justify-content: flex-end;
    }
}

ul, ol {
    padding-top: 1em;

    padding-bottom: 1em;
}

li {
    padding: 0 0 1em 1em;
}

/**alerts**/

.warningcell {
    background-color: #ccebff;
    width: auto;
    border-radius: 15px;
    padding: 30px;

    margin: 30px;
    text-align: center;
    border: 1px solid #0099ff;
}

.warningcell h2 {
    padding-bottom: .5em;
    padding-top: 0;
}
.warningcell a {
    text-decoration: underline;
}

.warningcell a:hover {
    font-weight: 700;
}

/**impact section**/

.impactrow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 35px 0;
    width: 100%;
}

.impactitem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 30px;

    text-align: center;
}

/**recommend section**/

.recommendsection {
    background-color: #EEEEEE;
    margin-top: 50px;
    padding: 80px 30px 80px 30px;
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.recommendgallery {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin: 25px 0 0 0;
}

.recommendmargin {
    max-width: 1000px;
    width: 100%;
    height: 100%;
    margin: 0 30px 0 30px;
}

.casestudy {
    height: 250px;
    width: 90%;
    
    padding: 20px;
    margin: 30px;
    flex-direction: column;
}

.casestudy a:hover {
    text-decoration: none;
}

.casetext {
    padding-bottom: 20px;
    height: auto;
}

h3.cardtitle {
    margin: 0;
    padding: 0;
}

a:hover {
    text-decoration: none;
}

@media screen and (max-width: 800px){

    .recommendgallery {
        flex-direction: column;
    }
}