@import "illustrations";
@import "projectPage";


//fonts
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;700&display=swap" rel="stylesheet');

* {
	margin: 0;
	padding: 0;
  border: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;

  font-family: 'Maven Pro', verdana, sans-serif;
  
}

code {
  font-family: 'Maven Pro';
}